/* Estilo geral */
body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    background-color: #92612f;
}

/* Cabeçalho */
header {
    background-color: #452608;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Container principal */
.container {
    width: 80%;
    margin: 20px auto;
    background-color: rgb(233, 229, 227);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3%;
}

/* Títulos */
h1, h2, h3{
    color: #ceb095;
}

h2 {
    margin-top: 0;
    font-weight: 600;
}
h4 {
    margin-top: 0;
}
p {
    font-size: 120%;
    font-weight: 590;
}
/* Lista */
ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Imagem */
img {
    display: block;
    margin: 30 auto;
    max-width: 30%;
}

/* Seção de compra */
.purchase-section {
    margin-top: 30px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}


.product img {
    max-width: 150px;
}

.product-info {
    flex-grow: 1;
    margin-left: 20px;
}


.product-price {
    font-weight: bold;
    margin-top: 10px;
}

.buy-button {
    display: inline-block;
    background-color: #1115e2;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.buy-button:hover {
    background-color: #0056b3;
}

/* Rodapé */
footer {
    background-color: #d4a373;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
